In [2]:
pip install pandas

Requirement already satisfied: pandas in /Applications/miniconda3/lib/python3.13/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /Applications/miniconda3/lib/python3.13/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Applications/miniconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Applications/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Applications/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Applications/miniconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
df_raw = pd.read_csv("/Users/rsaba/Desktop/Muesli-Project/Working_File_Ragu/merged_orders.csv")

In [20]:
df_raw

,Index,Order ID,Order Date_x,Ship Mode_x,Customer ID,Customer Name_x,Origin Channel,Country/Region,City,State,...,Discount,Profit,Arrival Scan Date,Customer Name_y,Row ID,Order Date_y,On Truck Scan Date,Ship Mode_y,Ready to Ship Date,Pickup Date
0,27,CA-2019-121755,2019-01-16,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,...,0.0,11.7741,NaN,NaN,26.0,2019-01-16,2019-01-23,Standard Processing,NaN,NaN
1,45,CA-2019-118255,2019-03-11,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,...,0.0,19.7714,NaN,NaN,45.0,2019-03-11,2019-03-13,Express,NaN,NaN
2,48,CA-2019-169194,2019-06-20,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,...,0.0,4.9500,NaN,NaN,48.0,2019-06-20,2019-06-26,Standard Processing,NaN,NaN
3,60,CA-2019-111682,2019-06-17,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,...,0.0,3.3000,NaN,NaN,56.0,2019-06-17,2019-06-19,Express,NaN,NaN
4,63,CA-2018-135545,2018-11-24,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,...,0.0,6.1512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5004,9760,CA-2019-146913,2019-10-31,Standard Class,SF-20965,Sylvia Foulston,Sales,United States,San Francisco,California,...,0.2,70.1960,2019-11-11,Sylvia Foulston,9760.0,2019-10-31,2019-11-06,Standard Processing,NaN,NaN
5005,9787,US-2017-114377,2017-11-05,First Class,BG-11035,Barry Gonzalez,Email,United States,Hampton,Virginia,...,0.0,40.4730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5006,9808,CA-2020-107209,2020-07-27,Second Class,JW-15955,Joni Wasserman,Email,United States,Raleigh,North Carolina,...,0.2,12.1780,NaN,NaN,9808.0,2020-07-27,2020-08-05,Standard Processing,NaN,NaN
5007,9830,US-2020-152842,2020-07-16,Standard Class,NF-18385,Natalie Fritzler,Email,United States,Charlotte,North Carolina,...,0.2,15.1470,NaN,NaN,9830.0,2020-07-16,2020-07-24,Standard Processing,NaN,NaN
5008,9880,CA-2019-122581,2019-08-21,Standard Class,JK-15370,Jay Kimmel,Email,United States,New York City,New York,...,0.1,63.6860,NaN,NaN,9880.0,2019-08-21,2019-08-28,Standard Processing,NaN,NaN

In [6]:
df_raw.columns

Index(['Index', 'Order ID', 'Order Date_x', 'Ship Mode_x', 'Customer ID',
       'Customer Name_x', 'Origin Channel', 'Country/Region', 'City', 'State',
       'Postal Code', 'Region', 'Category', 'Sub-Category', 'Product ID',
       'Sales', 'Quantity', 'Discount', 'Profit', 'Arrival Scan Date',
       'Customer Name_y', 'Row ID', 'Order Date_y', 'On Truck Scan Date',
       'Ship Mode_y', 'Ready to Ship Date', 'Pickup Date'],
      dtype='object')

In [7]:
#Create df where value "on truck scan date" & "arrival_scan_day" exist
df_log = df_raw.dropna(subset=["On Truck Scan Date", "Arrival Scan Date"])

In [8]:
df_log.shape

(333, 27)

In [21]:
df_log.dtypes

Index                                int64
Order ID                            object
Order Date_x                datetime64[ns]
Ship Mode_x                         object
Customer ID                         object
Customer Name_x                     object
Origin Channel                      object
Country/Region                      object
City                                object
State                               object
Postal Code                        float64
Region                              object
Category                            object
Sub-Category                        object
Product ID                          object
Sales                              float64
Quantity                             int64
Discount                           float64
Profit                             float64
Arrival Scan Date           datetime64[ns]
Customer Name_y                     object
Row ID                             float64
Order Date_y                datetime64[ns]
On Truck Scan Date          datetime64[ns]
Ship Mode_y                         object
Ready to Ship Date          datetime64[ns]
Pickup Date                 datetime64[ns]
delivery_time_days                   int64
total_delivery_time_days             int64
order_Month                         object
Order_YearMonth                  period[M]
order_weekday                       object
on_truck_weekday                    object
warehouse_time_days                  int64
dtype: object

In [10]:
cols = ["On Truck Scan Date", "Arrival Scan Date",'Order Date_x','Order Date_y', 'Ready to Ship Date','Pickup Date' ]
df_log[cols] = df_log[cols].apply(pd.to_datetime)
df_log

/var/folders/6q/jbbpf7ln3534rrgvzn52m5lw0000gn/T/ipykernel_919/3756279964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_log[cols] = df_log[cols].apply(pd.to_datetime)

,Index,Order ID,Order Date_x,Ship Mode_x,Customer ID,Customer Name_x,Origin Channel,Country/Region,City,State,...,Discount,Profit,Arrival Scan Date,Customer Name_y,Row ID,Order Date_y,On Truck Scan Date,Ship Mode_y,Ready to Ship Date,Pickup Date
17,252,CA-2019-145625,2019-09-11,Standard Class,KC-16540,Kelly Collister,Email,United States,San Diego,California,...,0.0,636.0003,2019-09-23,Kelly Collister,251.0,2019-09-11,2019-09-18,Standard Processing,2019-09-17,2019-09-18
24,325,CA-2019-162138,2019-04-23,Standard Class,GK-14620,Grace Kelly,Sales,United States,Hesperia,California,...,0.0,34.9965,2019-05-06,Grace Kelly,324.0,2019-04-23,2019-05-01,Standard Processing,NaT,NaT
40,494,CA-2019-169166,2019-05-09,Standard Class,SS-20590,Sonia Sunley,Email,United States,Seattle,Washington,...,0.0,13.1572,2019-05-20,Sonia Sunley,494.0,2019-05-09,2019-05-15,Standard Processing,NaT,NaT
59,734,CA-2020-131954,2020-01-21,Standard Class,DS-13030,Darrin Sayre,Facebook,United States,Seattle,Washington,...,0.0,86.3856,2020-02-03,Darrin Sayre,733.0,2020-01-21,2020-01-29,Standard Processing,NaT,NaT
80,1042,CA-2019-102981,2019-09-06,Second Class,MO-17500,Mary O'Rourke,Email,United States,New York City,New York,...,0.0,11.1510,2019-09-16,Mary O'Rourke,1042.0,2019-09-06,2019-09-11,Standard Processing,2019-09-09,2019-09-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977,8340,CA-2020-135076,2020-04-13,Standard Class,YS-21880,Yana Sorensen,Sales,United States,Hesperia,California,...,0.2,-38.2116,2020-04-27,Yana Sorensen,8340.0,2020-04-13,2020-04-20,Standard Processing,NaT,NaT
4980,8505,CA-2019-109400,2019-05-02,Standard Class,NR-18550,Nick Radford,Email,United States,Amarillo,Texas,...,0.3,-110.0232,2019-05-13,Nick Radford,8505.0,2019-05-02,2019-05-08,Standard Processing,NaT,NaT
4983,8647,CA-2019-113341,2019-11-25,Standard Class,MH-17455,Mark Hamilton,Email,United States,Los Angeles,California,...,0.2,19.4352,2019-12-09,Mark Hamilton,8647.0,2019-11-25,2019-12-02,Standard Processing,NaT,NaT
4986,8892,CA-2019-162159,2019-09-16,First Class,CR-12625,Corey Roper,Facebook,United States,Columbus,Georgia,...,0.0,30.4450,2019-09-23,Corey Roper,8892.0,2019-09-16,2019-09-18,Express,NaT,NaT
5004,9760,CA-2019-146913,2019-10-31,Standard Class,SF-20965,Sylvia Foulston,Sales,United States,San Francisco,California,...,0.2,70.1960,2019-11-11,Sylvia Foulston,9760.0,2019-10-31,2019-11-06,Standard Processing,NaT,NaT

In [11]:
df_log.loc[:, "delivery_time_days"] = (df_log["Arrival Scan Date"] - df_log["On Truck Scan Date"]).dt.days
df_log.shape

/var/folders/6q/jbbpf7ln3534rrgvzn52m5lw0000gn/T/ipykernel_919/4037634228.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_log.loc[:, "delivery_time_days"] = (df_log["Arrival Scan Date"] - df_log["On Truck Scan Date"]).dt.days

(333, 28)

In [12]:
df_log.loc[:, "total_delivery_time_days"] = (df_log["Arrival Scan Date"] - df_log["Order Date_x"]).dt.days
df_log.shape

/var/folders/6q/jbbpf7ln3534rrgvzn52m5lw0000gn/T/ipykernel_919/1275593441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_log.loc[:, "total_delivery_time_days"] = (df_log["Arrival Scan Date"] - df_log["Order Date_x"]).dt.days

(333, 29)

In [13]:
df_log['Order Date_x'] = pd.to_datetime(df_log["Order Date_x"])
df_log["order_Month"] = df_log["Order Date_x"].dt.strftime("%B")

df_log

/var/folders/6q/jbbpf7ln3534rrgvzn52m5lw0000gn/T/ipykernel_919/1128131252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_log['Order Date_x'] = pd.to_datetime(df_log["Order Date_x"])
/var/folders/6q/jbbpf7ln3534rrgvzn52m5lw0000gn/T/ipykernel_919/1128131252.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_log["order_Month"] = df_log["Order Date_x"].dt.strftime("%B")

,Index,Order ID,Order Date_x,Ship Mode_x,Customer ID,Customer Name_x,Origin Channel,Country/Region,City,State,...,Customer Name_y,Row ID,Order Date_y,On Truck Scan Date,Ship Mode_y,Ready to Ship Date,Pickup Date,delivery_time_days,total_delivery_time_days,order_Month
17,252,CA-2019-145625,2019-09-11,Standard Class,KC-16540,Kelly Collister,Email,United States,San Diego,California,...,Kelly Collister,251.0,2019-09-11,2019-09-18,Standard Processing,2019-09-17,2019-09-18,5,12,September
24,325,CA-2019-162138,2019-04-23,Standard Class,GK-14620,Grace Kelly,Sales,United States,Hesperia,California,...,Grace Kelly,324.0,2019-04-23,2019-05-01,Standard Processing,NaT,NaT,5,13,April
40,494,CA-2019-169166,2019-05-09,Standard Class,SS-20590,Sonia Sunley,Email,United States,Seattle,Washington,...,Sonia Sunley,494.0,2019-05-09,2019-05-15,Standard Processing,NaT,NaT,5,11,May
59,734,CA-2020-131954,2020-01-21,Standard Class,DS-13030,Darrin Sayre,Facebook,United States,Seattle,Washington,...,Darrin Sayre,733.0,2020-01-21,2020-01-29,Standard Processing,NaT,NaT,5,13,January
80,1042,CA-2019-102981,2019-09-06,Second Class,MO-17500,Mary O'Rourke,Email,United States,New York City,New York,...,Mary O'Rourke,1042.0,2019-09-06,2019-09-11,Standard Processing,2019-09-09,2019-09-11,5,10,September
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977,8340,CA-2020-135076,2020-04-13,Standard Class,YS-21880,Yana Sorensen,Sales,United States,Hesperia,California,...,Yana Sorensen,8340.0,2020-04-13,2020-04-20,Standard Processing,NaT,NaT,7,14,April
4980,8505,CA-2019-109400,2019-05-02,Standard Class,NR-18550,Nick Radford,Email,United States,Amarillo,Texas,...,Nick Radford,8505.0,2019-05-02,2019-05-08,Standard Processing,NaT,NaT,5,11,May
4983,8647,CA-2019-113341,2019-11-25,Standard Class,MH-17455,Mark Hamilton,Email,United States,Los Angeles,California,...,Mark Hamilton,8647.0,2019-11-25,2019-12-02,Standard Processing,NaT,NaT,7,14,November
4986,8892,CA-2019-162159,2019-09-16,First Class,CR-12625,Corey Roper,Facebook,United States,Columbus,Georgia,...,Corey Roper,8892.0,2019-09-16,2019-09-18,Express,NaT,NaT,5,7,September
5004,9760,CA-2019-146913,2019-10-31,Standard Class,SF-20965,Sylvia Foulston,Sales,United States,San Francisco,California,...,Sylvia Foulston,9760.0,2019-10-31,2019-11-06,Standard Processing,NaT,NaT,5,11,October

In [14]:
df_log['Order_YearMonth'] = df_log['Order Date_x'].dt.to_period('M')

/var/folders/6q/jbbpf7ln3534rrgvzn52m5lw0000gn/T/ipykernel_919/1820945731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_log['Order_YearMonth'] = df_log['Order Date_x'].dt.to_period('M')

In [15]:
df_log['order_weekday'] = df_log['Order Date_x'].dt.day_name()
df_log['on_truck_weekday'] = df_log['On Truck Scan Date'].dt.day_name()

/var/folders/6q/jbbpf7ln3534rrgvzn52m5lw0000gn/T/ipykernel_919/3369824338.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_log['order_weekday'] = df_log['Order Date_x'].dt.day_name()
/var/folders/6q/jbbpf7ln3534rrgvzn52m5lw0000gn/T/ipykernel_919/3369824338.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_log['on_truck_weekday'] = df_log['On Truck Scan Date'].dt.day_name()

In [16]:
df_log.loc[:, "warehouse_time_days"] = (df_log["total_delivery_time_days"] - df_log["delivery_time_days"])

/var/folders/6q/jbbpf7ln3534rrgvzn52m5lw0000gn/T/ipykernel_919/4238159661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_log.loc[:, "warehouse_time_days"] = (df_log["total_delivery_time_days"] - df_log["delivery_time_days"])

In [17]:
df_log.describe()

,Index,Order Date_x,Postal Code,Sales,Quantity,Discount,Profit,Arrival Scan Date,Row ID,Order Date_y,On Truck Scan Date,Ready to Ship Date,Pickup Date,delivery_time_days,total_delivery_time_days,warehouse_time_days
count,333.000000,333,333.000000,333.000000,333.000000,333.000000,333.000000,333,333.000000,333,333,22,22,333.000000,333.000000,333.000000
mean,5040.252252,2019-10-03 23:34:03.243243264,57633.351351,283.551483,3.852853,0.149850,54.382263,2019-10-14 19:36:12.972973056,5039.813814,2019-10-03 23:34:03.243243264,2019-10-10 05:07:01.621621504,2019-09-15 07:38:10.909090816,2019-09-16 18:32:43.636363520,4.603604,10.834835,6.231231
min,1.000000,2019-04-19 00:00:00,1752.000000,0.556000,1.000000,0.000000,-3399.980000,2019-05-03 00:00:00,1.000000,2019-04-19 00:00:00,2019-04-29 00:00:00,2019-09-04 00:00:00,2019-09-04 00:00:00,1.000000,3.000000,0.000000
25%,2409.000000,2019-08-27 00:00:00,31088.000000,15.624000,2.000000,0.000000,2.440200,2019-09-09 00:00:00,2408.000000,2019-08-27 00:00:00,2019-09-04 00:00:00,2019-09-09 00:00:00,2019-09-11 00:00:00,4.000000,9.000000,5.000000
50%,5163.000000,2019-10-09 00:00:00,60653.000000,51.712000,3.000000,0.000000,9.816000,2019-10-21 00:00:00,5163.000000,2019-10-09 00:00:00,2019-10-16 00:00:00,2019-09-14 12:00:00,2019-09-17 00:00:00,5.000000,11.000000,7.000000
75%,7725.000000,2019-12-03 00:00:00,90032.000000,194.352000,5.000000,0.200000,29.985000,2019-12-16 00:00:00,7725.000000,2019-12-03 00:00:00,2019-12-11 00:00:00,2019-09-23 00:00:00,2019-09-25 00:00:00,5.000000,13.000000,8.000000
max,9987.000000,2020-05-11 00:00:00,98270.000000,17499.950000,13.000000,0.800000,8399.976000,2020-05-15 00:00:00,9987.000000,2020-05-11 00:00:00,2020-05-13 00:00:00,2019-10-02 00:00:00,2019-10-04 00:00:00,7.000000,17.000000,12.000000
std,2982.085412,NaN,31836.257226,1087.013436,2.348923,0.210081,535.007277,NaN,2982.101446,NaN,NaN,NaN,NaN,1.199492,2.862257,2.553757

In [18]:
df_log.shape

(333, 34)

In [19]:
df_log.to_csv("Log_final_worksheet.csv", index=False)